@model IEnumerable<IBMS.Models.Sale>

<h2>Sales Report</h2>

<table class="table table-bordered">
    <tr>
        <th>Date</th>
        <th>Customer</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Net Amount</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.SaleDate</td>
        <td>@item.Customer.CustomerName</td>
        <td>@item.Product.ProductName</td>
        <td>@item.Quantity</td>
        <td>@item.NetAmount</td>
    </tr>
}
</table>
